
<div class="error-messages-main">
  <%= devise_error_messages! %>
</div>

<div class="sign-up-container">
<h1 id="sign-up-h1">Edit <%= resource_name.to_s.humanize %></h2>

<div class="sign-up-inner-container">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>


  <div class="input-field">
    <%= f.label :email, class: "devise-label" %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="input-field">
    <%= f.label :password, class: "devise-label" %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="input-field">
    <%= f.label :password_confirmation, class: "devise-label" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="input-field">
    <%= f.label :current_password, class: "devise-label" %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>


<div class="sign-up-submit-btns">
  <div class="actions" id="sign-up-submit-btn">
    <%= f.submit "Update!" %>
    <div id="devise-links-cancel">
    <%= button_to "Cancel My Account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
    </div>
    <div id="devise-links-back">
    <%= link_to "Back", :back %>
    </div>
  </div>
</div>
<% end %>


</div>
</div>
