<!-- in app/views/client/index.html.erb -->
<!DOCTYPE html>
<html ng-app="Materials">
  <head>
    <title>Materials</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Antic|Didact+Gothic|Heebo|Hind+Siliguri|Josefin+Sans|Julius+Sans+One|Karla|Poppins|Pragati+Narrow|Quicksand|Roboto" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <header>
  <div class="logo-container">
  <!-- Do not delete -->
    <div class="logo">
      <%= image_tag "logo1.svg", :class => "logo" %>
    </div>


    <!-- <img ng-src="{{ app/assets/images/logo1.svg }}" alt="materials logo"/> -->
    <%#= asset_path("logo1.svg") %>
  </div>
    <nav>
      <% if user_signed_in? %>
        <%= link_to 'Home', root_path %>



        <a ui-sref="users({ id: <%= current_user.id %> })">Profile</a>

        <%#= link_to "Profile", current_user %>
        <%= link_to 'Edit', edit_user_registration_path, target: '_self' %>


         <%= link_to 'About', about_path, target: '_self' %>


        <%= link_to 'Contact', contact_path, target: '_self' %>


        <%= link_to 'Sign out', destroy_user_session_path, method: 'delete', target: '_self' %>
      <% end %>
    </nav>
  </header>



    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>



    <ui-view></ui-view>



  </body>
</html>
