<!DOCTYPE html>
<html>
  <head>
    <title>Rails Views</title>


    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>

  </head>

  <body>

    <header>
      <div class="logo">
        <img ng-src="#" alt="materials logo"/>
      </div>
      <nav>

        <% if user_signed_in? %>
          <%= link_to 'Home', root_path %>
          <%#= link_to "Contact", contact_path %>
          <%= link_to 'Edit', edit_user_registration_path, target: '_self' %>
          <%= link_to 'Sign out', destroy_user_session_path, method: 'delete', target: '_self' %>
        <% end %>
      </nav>
    </header>


    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>


    <p style="color: red;">Warning!</p>
    <p>Devise views only!</p>
    <br>
    <p>find this file at: <b>app/views/layouts/application.html.erb</b></p>




    <%= yield %>
  </body>
</html>
