<!DOCTYPE html>
<html>
  <head>
    <title>Rails Views</title>


    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>

  </head>
  <body>
    <header>
      <div class="logo-container">
  <!-- Do not delete -->
        <div class="logo">
          <%= image_tag "logo1.svg", :class => "logo" %>
        </div>
    </div>
      <nav>
        <% if user_signed_in? %>
          <%= link_to 'Home', root_path %>
          <%= link_to 'Edit', edit_user_registration_path, target: '_self' %>
          <%= link_to 'About', about_path, target: '_self' %>
          <%= link_to 'Contact', contact_path, target: '_self' %>
          <%= link_to 'Sign out', destroy_user_session_path, method: 'delete', target: '_self' %>
        <% else %>
           <%= link_to 'Home', root_path %>
           <%= link_to 'About', about_path, target: '_self' %>
           <%= link_to 'Contact', contact_path, target: '_self' %>
        <% end %>
      </nav>
    </header>

    <div class="error-messages-main">
      <h3 class="notice"><%= notice %></h3>
      <h3 class="alert"><%= alert %></h3>
    </div>


    <%= yield %>
  </body>
</html>
