<!DOCTYPE html>
<html>
  <head>
    <title>Rails Views</title>


    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>




	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>


    <p style="color: red;">Warning!</p>
    <p>Devise views only!</p>
    <br>
    <p>find this file at: <b>app/views/layouts/application.html.erb</b></p>




    <%= yield %>
  </body>
</html>
